:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

header {
  background-color: aquamarine;
  padding: 0 20px;
  margin-bottom: 10px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}