:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #212529;
}

select {
  display: block;
}

.movieDiv {
  display: inline-block;
}

.screening {
  color: white;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}